.page {
  text-align: center;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list {
  list-style-type: none;
}
.addbar {
  border-color: black;
  border-radius: 1ch;
}
.button {
  border-radius: 1ch;
  border-color: black;
}
